.headline.container-fluid
  %p#headline DIY Punk Shows Zagreb

= render 'layouts/navigation'

.next-show-fluid.container-fluid
  .next-show.container
    .row.heading-row
      .span12
        %p.headings Next Show
    .row
      .span12
        %p.title-of-the-show= @next_show["name"]
    .row
      .span12
        %p.date-of-show
          %b
            = Date.iso8601(@next_show["start_time"]).strftime("%d-%m-%y")
        %p.location-of-show
          %b
            = @next_show["location"]
    .row.more-info-next-show
      .span12
        = social_network_link(@next_show["description"], :facebook)
        = social_network_link(@next_show["description"], :lastfm)

.future-shows-fluid.container-fluid
  .future-shows.container
    .row
      .span12
        %p.headings Future Shows
    %table.table.table-striped
      %thead
        %tr
          %th Start time
          %th Event name
          %th Location
          %th Links
      %tbody
        - @events.each do |event|
          %tr
            %th.start-time= Date.iso8601(event["start_time"]).strftime("%d-%m-%y")
            %th= truncate event["name"], length: 65
            %th.location= event["location"]
            %th.links
              = social_network_link(@next_show["description"], :facebook)
              = social_network_link(@next_show["description"], :lastfm)




.venues-fluid.container-fluid
  .venues.container
    .row
      .span12
        %p.headings Venues
    .row
      %table.table
        %thead
          %tr
            %th.venue AKC Medika
            %th.venue AKC Attack
            %th.venue Grey Room
            %th.venue Warehouse / Supica
            %th.venue Mocvara
            %th.venue Jedinstvo
            %th.venue Spunk
            %th.venue Klaonica
  #venue-map.container



.about-fluid.container-fluid
  .about.container
    .row
      .span12
        %p.headings About
    .row.description
      .span12
        %p This is a simple guide to most of the hardcore/punk shows that are happening now in Zagreb.
        %p Information is automatically fetched from a online group calendar where 25+ people involved in doing punk shows are posting events they're doing while trying not to step on each others feet.
        %p This should be as comprehensive as it gets, although there's not a 100% guarantee that every single show will be listed.
        %p People organizing these shows stand I00% against fascism, racism, nationalism, patriotism, homophobia and any kind of fake pride.
        %p Hopefully you'll find this useful.